:root {
  --color-arrow-white: #FFF;
  --color-btn-primary: #FFF;
  --color-clients: #565973;
  --color-name: #0B0F19;
  --color-job: #9397AD;
  --color-primary: hsl(239, 84%, 65%);
  --color-primary-hover: hsl(239, 84%, 70%);
  --color-primary-opacity: rgb(99, 102, 241, .3);
  --color-gradient: #6366F1 hsl(293, 84%, 35%) hsl(225, 75%, 97%);
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
  --color-grey900: #0B0F19;
  --color-grey800: #33354D;
  --color-grey700: #565973;
  --color-grey600: #9397AD;
  --color-grey500: #B4B7C9;
  --color-grey400: #D4D7E5;
  --color-grey300: #E2E5F1;
  --color-grey200: #EFF2FC;
  --color-grey100: #F3F6FF;
  --color-white: #FFF;
}
:root .dark {
  --color-grey900: rgba(255, 255, 255, 0.770);
  --color-grey800: #9397AD;
  --color-grey700: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey500: #B4B7C9;
  --color-grey400: #0B0F19;
  --color-grey300: #565973;
  --color-grey200: #33354D;
  --color-grey100: #0a0c11;
  --color-white: #1c1e2b;
  --color-bg-dark: #000;
  --color-btn-primary: rgba(255, 255, 255, 0.770);
  --color-primary: hsl(239, 48%, 49%);
  --color-primary-hover: hsl(239, 84%, 70%);
  --color-primary-opacity: rgb(99, 102, 241, .3);
}

body {
  color: var(--color-grey700);
}

#hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1012780112) 0%, rgba(218, 70, 239, 0.0452556022) 42%, rgba(241, 244, 253, 0.0676645658) 83%);
}

#app-features .header p {
  color: var(--color-grey600);
}

#work {
  background-color: var(--color-grey100);
}

#clients {
  background-color: var(--color-grey100);
}
#clients .btn-quotation {
  box-shadow: 2px 5px 10px var(--color-grey500);
}
#clients .card {
  background-color: var(--color-white);
  color: var(--color-grey700);
  box-shadow: 2px 5px 10px var(--color-grey400);
}
#clients .name {
  color: var(--color-grey900);
}
#clients .job {
  color: var(--color-grey600);
}

#faq .list-item {
  background-color: var(--color-white);
  box-shadow: 1px 4px 4px var(--color-grey300);
}
#faq .list-item .question {
  color: var(--color-grey900);
}
#faq .list-item input[type=radio]:checked ~ .title .btn-circle {
  background-color: var(--color-primary);
  color: var(--color-arrow-white);
}

#subscribe {
  background-color: var(--color-grey100);
}
#subscribe .form .form-input {
  color: var(--color-grey500);
  border: 1px solid var(--color-grey500);
}

footer p {
  color: var(--color-grey600);
}

.slider {
  background-color: var(--color-white);
}

label[for=theme-switch] {
  background-color: var(--color-grey600);
}

input[type=checkbox]:checked ~ .wrapper {
  --color-grey900: rgba(255, 255, 255);
  --color-grey800: #9397AD;
  --color-grey700: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey500: #B4B7C9;
  --color-grey400: #0B0F19;
  --color-grey300: #565973;
  --color-grey200: #33354D;
  --color-grey100: #0a0c11;
  --color-white: #222433;
  --color-bg-dark: #000;
  --color-arrow-white: #FFF;
  --color-btn-primary: rgba(255, 255, 255, 0.842);
  --color-primary: hsl(239, 48%, 49%);
  --color-primary-hover: hsl(239, 84%, 70%);
  --color-primary-opacity: rgb(99, 102, 241, .3);
  background-color: var(--color-bg-dark);
}
input[type=checkbox]:checked ~ .wrapper .slider {
  background-color: var(--color-grey900);
}
input[type=checkbox]:checked ~ .wrapper img {
  filter: brightness(95%);
}
input[type=checkbox]:checked ~ .wrapper .btn-circle {
  background-color: var(--color-white);
}
input[type=checkbox]:checked ~ .wrapper #faq #phone, input[type=checkbox]:checked ~ .wrapper #faq #message {
  box-shadow: 0 0 10px var(--color-grey300);
  background-color: var(--color-grey100);
}
input[type=checkbox]:checked ~ .wrapper #subscribe .form-input {
  background-color: var(--color-white);
}

input[type=checkbox]:checked ~ .wrapper .toggle {
  background-color: var(--color-primary);
}

.discover-more {
  color: var(--colorgrey900);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-btn-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  box-shadow: inset 0 0 5px var(--color-primary-inset);
}

.btn-app-download {
  background-color: var(--color-grey900);
}

.btn-app-download:hover {
  background-color: var(--color-grey700);
  box-shadow: inset 0 0 10px 5px var(--color-grey800);
}

.btn-circle {
  background-color: var(--color-grey100);
  box-shadow: 0 0 2px var(--color-grey700);
}

.btn-circle:hover {
  box-shadow: inset 0 0 3px 0 rgba(62, 64, 190, 0.3019607843);
}

.btn-toggle-switch .label {
  color: var(--color-grey700);
}

.btn-circle-acc {
  box-shadow: 0 0 2px var(--color-grey500);
  color: var(--color-grey900);
}

a {
  color: var(--color-white);
}
a:hover {
  color: var(--color-white);
}

.discover-more {
  color: var(--color-grey800);
}
.discover-more:hover {
  color: var(--color-grey800);
}

.nav-link {
  color: var(--color-grey800);
}
.nav-link:hover {
  color: var(--color-grey800);
}

#purple {
  color: var(--color-primary-hover);
}

#green {
  color: var(--color-success);
}

.logo {
  border: 1px solid var(--color-grey300);
  box-shadow: 0 0 4px var(--color-grey300);
}

.icon {
  background-color: var(--color-grey200);
}

.form .form-input {
  border: 1px solid var(--color-grey600);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-grey900);
}

#header p {
  color: var(--color-grey800);
}

#subscribe .text-desktop {
  color: var(--color-grey900);
}

@media (prefers-redused-motion: no-preferens) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container, .container-nav {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 0.5em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 0.3em;
  transition: all 0.2s ease;
}

.btn-primary {
  font-size: 1rem;
  padding: 0.5em 1.5em;
  gap: 0.5em;
}

.btn-app-download {
  padding: 0.5em 1.5em;
  gap: 0.5em;
  width: 100%;
  height: 50px;
}
@media (width > 1400px) {
  .btn-app-download {
    height: 52px;
  }
  .btn-app-download .container, .btn-app-download .container-nav {
    max-width: 1320px;
  }
}

.btn-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 1em;
}

.btn-mobile-menu {
  border: none;
  background-color: transparent;
  font-size: 24px;
  padding: 0.3em;
  cursor: pointer;
}

.btn-toggle-switch {
  width: 50px;
  height: 30px;
  position: relative;
}

h1 {
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 3rem;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  padding: 2rem 0 2rem 0;
}

h3 {
  font-size: 23px;
  font-weight: 800;
  padding: 1rem;
  margin-top: 3rem;
}

.wrapper {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-grey700);
  font-size: 1rem;
  min-width: 310px;
}
.wrapper p {
  line-height: 1.6;
}
.wrapper span {
  line-height: 1.5;
}

input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
}

input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: all 0.2s ease;
}

label[for=theme-switch] {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: calc(100% - (var(--_width)));
  transform: translatey(-50%);
  transition: all 0.2s ease;
}

label[for=theme-switch]::after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

.toggle {
  --_height: 25px;
  --_width: 48px;
  width: var(--_width);
  height: var(--_height);
  position: absolute;
  border-radius: 48px;
  transition: all 0.2s ease;
}

.slider {
  position: absolute;
  height: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translatey(-50%);
  transition: all 0.2s ease;
}

input[type=checkbox]:checked ~ .wrapper {
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]:checked ~ .wrapper #logo-light {
  display: none;
}
input[type=checkbox]:checked ~ .wrapper #logo-dark {
  display: flex;
}
input[type=checkbox]:checked ~ .wrapper #logo-dark img {
  width: 140px;
  height: 52px;
}
input[type=checkbox]:checked ~ .wrapper #hero #appstore-dark {
  display: flex;
}
input[type=checkbox]:checked ~ .wrapper #hero #appstore-light {
  display: none;
}
input[type=checkbox]:checked ~ .wrapper #hero #gp-dark {
  display: flex;
}
input[type=checkbox]:checked ~ .wrapper #hero #gp-light {
  display: none;
}
input[type=checkbox]:checked ~ .wrapper #hero #mob-menu-light {
  display: none;
}
input[type=checkbox]:checked ~ .wrapper #hero #mob-menu-dark {
  display: block;
}
input[type=checkbox]:checked ~ .wrapper #clients .btn-quotation {
  box-shadow: none;
}
input[type=checkbox]:checked ~ .wrapper #faq .list-item {
  box-shadow: none;
}

input[type=checkbox]:checked ~ .wrapper .toggle {
  transition: all 0.2s ease;
}

input[type=checkbox]:checked ~ .wrapper .slider {
  position: absolute;
  left: calc(100% - 21px);
  transition: all 0.2s ease;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

header .container-nav {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
}
header .container-nav #signin {
  display: none;
}
header .container-nav #logo-dark {
  display: none;
}
header .container-nav .navbar {
  display: none;
}
header .container-nav #mob-menu-dark {
  display: none;
}
header .container-nav .label {
  display: none;
}
@media (width > 768px) {
  header .container-nav {
    gap: 3rem;
    padding: 0;
    padding-top: 1rem;
  }
  header .container-nav .container, header .container-nav .container-nav {
    max-width: 720px;
  }
  header .container-nav .btn-toggle-switch .label {
    display: block;
    font-weight: 600;
  }
  header .container-nav .btn-toggle-switch {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (width > 1400px) {
  header .container-nav {
    grid-template-columns: auto 1fr auto auto;
  }
  header .container-nav .container, header .container-nav .container-nav {
    max-width: 1320px;
  }
  header .container-nav .navbar {
    display: block;
  }
  header .container-nav .nav-link {
    font-weight: 700;
    padding: 0.1em 0.4em;
  }
  header .container-nav #signin {
    display: block;
  }
  header .container-nav .btn-mobile-menu {
    display: none;
  }
}

#hero .container {
  padding: 1rem 1rem 2rem 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline" "content";
}
#hero .headline {
  text-align: center;
  grid-area: headline;
}
#hero .content {
  text-align: center;
  grid-area: content;
}
#hero .content p {
  font-size: 18px;
  margin-bottom: 3rem;
}
#hero .content #appstore-dark {
  display: none;
}
#hero .content #gp-dark {
  display: none;
}
#hero .content .buttons-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#hero .content .discover-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
#hero .images {
  display: none;
  grid-area: images;
}
@media (width > 768px) {
  #hero .container, #hero .container-nav {
    max-width: 720px;
  }
  #hero .container {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline" "content images";
    gap: 3rem;
  }
  #hero h1 {
    font-size: 44px;
    margin-top: 60px;
    margin-bottom: 2rem;
  }
  #hero .content {
    text-align: left;
  }
  #hero .content .discover-more {
    margin-bottom: 3rem;
    justify-content: flex-start;
  }
  #hero .images {
    display: block;
  }
}
@media (width > 1400px) {
  #hero .container, #hero .container-nav {
    max-width: 1320px;
  }
  #hero .container {
    grid-template-areas: "headline images" "content images";
  }
  #hero h1 {
    font-size: 56px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 0;
  }
  #hero p {
    margin-bottom: 2rem;
  }
  #hero .content .buttons-app {
    flex-direction: row;
    align-items: center;
  }
  #hero .content .discover-more {
    margin-top: 16rem;
  }
  #hero .iphone-back {
    right: 240px;
    width: auto;
  }
  #hero .iphone-front {
    right: 0px;
    width: auto;
  }
}

#logo-row {
  display: none;
}
@media (width > 768px) {
  #logo-row {
    display: block;
  }
  #logo-row .container, #logo-row .container-nav {
    max-width: 720px;
  }
  #logo-row .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 5rem 0 2rem 0;
  }
  #logo-row #logo5, #logo-row #logo6 {
    display: none;
  }
}
@media (width > 1400px) {
  #logo-row .container, #logo-row .container-nav {
    max-width: 1320px;
  }
  #logo-row #logo5, #logo-row #logo6 {
    display: flex;
  }
}

#app-features .container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  padding-bottom: 2rem;
}
#app-features .header {
  margin-bottom: 2rem;
  grid-area: header;
}
#app-features .header h2 {
  text-align: center;
}
#app-features .header p {
  font-size: 18px;
  text-align: center;
}
#app-features .images {
  display: none;
}
#app-features .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#app-features .content .features {
  display: grid;
  gap: 1rem;
  width: 100%;
  justify-content: left;
  grid-template-columns: auto auto;
  grid-template-areas: "card h3" "card p";
}
#app-features .content p {
  grid-area: p;
}
#app-features .content h3 {
  font-size: 20px;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  grid-area: h3;
}
#app-features .content .icon {
  grid-area: card;
}
@media (width > 768px) {
  #app-features .container, #app-features .container-nav {
    max-width: 720px;
  }
  #app-features .container {
    padding: 0 0 2rem 0;
  }
  #app-features .content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "payments security" "statistics support" "cashback standards";
  }
  #app-features .header h2 {
    font-size: 33px;
  }
  #app-features #f1 {
    grid-area: payments;
  }
  #app-features #f2 {
    grid-area: security;
  }
  #app-features #f3 {
    grid-area: statistics;
  }
  #app-features #f4 {
    grid-area: support;
  }
  #app-features #f5 {
    grid-area: cashback;
  }
  #app-features #f6 {
    grid-area: standards;
  }
}
@media (width > 1400px) {
  #app-features .container, #app-features .container-nav {
    max-width: 1320px;
  }
  #app-features .container {
    grid-template-columns: 500px 1fr;
    grid-template-areas: "images content";
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #app-features .header h2 {
    font-size: 40px;
    text-align: left;
    padding-left: 0;
  }
  #app-features .container p {
    text-align: left;
  }
  #app-features .images {
    display: grid;
  }
}

#work .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0 3rem 0;
}
#work .content-tablet, #work .content-desktop {
  display: none;
}
#work .images {
  display: flex;
  justify-content: center;
  align-items: center;
}
#work #iphone-cards-tab, #work #iphone-transfer-tab, #work #iphone-budget-desk, #work #iphone-cards-desk, #work #iphone-transfer-desk {
  display: none;
}
@media (width > 768px) {
  #work .container, #work .container-nav {
    max-width: 720px;
  }
  #work .container {
    padding: 3rem 0 5rem 0;
  }
  #work #iphone-cards-tab, #work #iphone-transfer-tab {
    display: block;
  }
  #work .images {
    width: 100%;
    gap: 2rem;
    position: relative;
  }
  #work .content-mobile {
    display: none;
  }
  #work .content-tablet {
    display: block;
  }
}
@media (width > 1400px) {
  #work .container, #work .container-nav {
    max-width: 1320px;
  }
  #work .content-tablet {
    display: none;
  }
  #work .content-desktop {
    display: block;
    max-width: 630px;
  }
  #work .images {
    gap: 6rem;
  }
  #work #iphone-cards-tab, #work #iphone-transfer-mob, #work #iphone-transfer-tab {
    display: none;
  }
  #work #iphone-budget-desk, #work #iphone-cards-desk, #work #iphone-transfer-desk {
    display: block;
  }
}

#transfer-payment {
  display: none;
}
@media (width > 1400px) {
  #transfer-payment {
    display: block;
  }
  #transfer-payment .container, #transfer-payment .container-nav {
    max-width: 1320px;
  }
  #transfer-payment .container {
    padding: 6rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "content-1 images-col-2" "images-col-1 content-2";
  }
  #transfer-payment .content-1 {
    grid-area: content-1;
    padding-top: 3rem;
  }
  #transfer-payment .images-col-1 {
    grid-area: images-col-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
  }
  #transfer-payment .images-col-2 {
    grid-area: images-col-2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
  }
  #transfer-payment .content-2 {
    grid-area: content-2;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "h2 h2" "left right";
  }
  #transfer-payment h2 {
    font-size: 2rem;
    grid-area: h2;
  }
  #transfer-payment ul {
    list-style: none;
  }
  #transfer-payment li {
    background-image: url(/css/scss/images/page3/check-circle.svg);
    background-repeat: no-repeat;
    margin-top: 2rem;
  }
  #transfer-payment li span {
    margin-left: 3rem;
  }
  #transfer-payment .left {
    grid-area: left;
  }
  #transfer-payment .right {
    grid-area: right;
  }
  #transfer-payment .btn-primary {
    width: 160px;
    margin-top: 4rem;
  }
  #transfer-payment .btn-primary span {
    margin-right: 0.2em;
  }
  #transfer-payment .icon-transfer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#clients {
  display: none;
}
@media (width > 1400px) {
  #clients {
    display: block;
  }
  #clients .container, #clients .container-nav {
    max-width: 1320px;
  }
  #clients .container {
    padding: 6rem 0 6rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: relative;
  }
  #clients h2 {
    font-size: 2.5rem;
  }
  #clients .btn-quotation {
    width: 2.5rem;
    aspect-ratio: 1;
  }
  #clients #quotation-1 {
    position: absolute;
    top: 4.5rem;
    left: 34rem;
  }
  #clients #quotation-2 {
    position: absolute;
    top: 4.5rem;
    left: 60.5rem;
  }
  #clients .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 3rem;
  }
  #clients .card {
    max-height: 300px;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  #clients .stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #clients .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
  }
  #clients .profile .data {
    display: flex;
    flex-direction: column;
  }
  #clients .profile .name {
    font-weight: 700;
  }
}

#faq .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 2rem 1rem;
}
#faq .contact, #faq #phone, #faq #message {
  display: none;
}
#faq .accordion {
  position: relative;
  width: 100%;
}
#faq .accordion .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#faq .accordion input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
#faq .accordion .list-item {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  border-radius: 0.5em;
}
#faq .accordion .btn-circle-acc {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
}
#faq .accordion .question {
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
#faq .accordion .question::after {
  content: "";
  transform: scale(1.8);
}
#faq .accordion .content {
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
#faq .accordion input[type=radio]:checked ~ .title .btn-circle {
  transform: rotate(180deg);
}
#faq .accordion input[type=radio]:checked + .question::after {
  content: "";
}
#faq .accordion input[type=radio]:checked ~ .content {
  max-height: 500px;
  opacity: 1;
  transition: all 0.3s ease-in;
}
@media (width > 768px) {
  #faq .container, #faq .container-nav {
    max-width: 720px;
  }
}
#faq .container {
  padding: 2rem 0 3rem 0;
}
@media (width > 1400px) {
  #faq .container, #faq .container-nav {
    max-width: 1320px;
  }
  #faq .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
    gap: 4rem;
  }
  #faq .accordion {
    grid-column: 2;
  }
  #faq h2 {
    font-size: 40px;
  }
  #faq .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #faq .contact-us {
    display: flex;
    gap: 4rem;
  }
  #faq #head {
    grid-column: 1/3;
  }
  #faq #head-text {
    font-size: 18px;
    text-align: center;
  }
  #faq .small-text {
    font-size: 14px;
  }
  #faq .contact-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

#subscribe .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#subscribe .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#subscribe h3 {
  padding: 0;
  margin: 0;
}
#subscribe .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1em;
  position: relative;
}
#subscribe .form .btn-primary {
  width: 100%;
  max-height: 52px;
  padding: 0.8em;
  margin-top: 1rem;
}
#subscribe .form .form-input {
  border-radius: 0.3em;
  width: 100%;
  max-height: 52px;
  padding: 1em 2.5em;
}
#subscribe .text-desktop {
  display: none;
}
@media (width > 768px) {
  #subscribe .container, #subscribe .container-nav {
    max-width: 720px;
  }
  #subscribe .container {
    padding: 3rem 0 3rem 0;
    flex-direction: row;
  }
  #subscribe .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
  #subscribe .form .form-input {
    border-radius: 0.3em 0 0 0.3em;
  }
  #subscribe .form .btn-primary {
    border-radius: 0 0.3em 0.3em 0;
    max-width: 120px;
    margin: 0;
  }
}
@media (width > 1400px) {
  #subscribe .container, #subscribe .container-nav {
    max-width: 1320px;
  }
  #subscribe .text-desktop {
    display: flex;
    font-size: 24px;
    font-weight: 800;
  }
  #subscribe h3 {
    display: none;
  }
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

#header #logo-light {
  background-color: transparent;
}
#header #logo-light img {
  width: 140px;
  height: 52px;
}

#hero .images {
  position: relative;
}
#hero .iphone-back {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 110px;
  width: 70%;
  height: auto;
}
#hero .iphone-front {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 70%;
  height: auto;
}

#logo-row .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 160px;
  height: 70px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (width > 1400px) {
  #logo-row .container, #logo-row .container-nav {
    max-width: 1320px;
  }
  #logo-row .logo {
    width: 200px;
    height: 100px;
  }
}

#app-features .images {
  position: relative;
  padding-top: 2rem;
  margin-right: 5rem;
}
#app-features #iphone-features {
  width: 75%;
  height: auto;
}
#app-features #card-features {
  width: 80%;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 110px;
  left: 60px;
}

#work #iphone-transfer-mob {
  width: 100%;
  height: 100%;
}
@media (width > 768px) {
  #work .container, #work .container-nav {
    max-width: 720px;
  }
  #work .images #iphone-transfer-mob {
    height: 410px;
  }
  #work #iphone-cards-tab, #work #iphone-transfer-tab {
    width: 85%;
    height: auto;
  }
}
@media (width > 1400px) {
  #work .container, #work .container-nav {
    max-width: 1320px;
  }
  #work #iphone-budget-desk, #work #iphone-transfer-desk {
    width: 24%;
    height: auto;
  }
}

#transfer-payment #contacts {
  position: absolute;
  bottom: 0;
}
#transfer-payment #card-contacts {
  grid-column: 3/6;
  grid-row: 2/4;
  position: absolute;
}
#transfer-payment #money {
  position: absolute;
  bottom: 2rem;
}
#transfer-payment #send-money {
  grid-column: 3/5;
  grid-row: 4/5;
  position: absolute;
  bottom: -90px;
}

#clients .content-card-1 .star-filled {
  background-image: url(/css/scss/images/page4/star-filled.svg);
  width: 4rem;
  height: 1rem;
  background-repeat: repeat-x;
}
#clients .content-card-1 .star-empty {
  background-image: url(/css/scss/images/page4/star-empty.svg);
  width: 1rem;
  height: 1rem;
}
#clients .content-card-2 .star-filled {
  background-image: url(/css/scss/images/page4/star-filled.svg);
  width: 5rem;
  height: 1rem;
  background-repeat: repeat-x;
}

#faq #phone, #faq #message {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  box-shadow: 0 0 10px var(--color-grey400);
}

#subscribe .form .letter {
  position: absolute;
  top: 32px;
  left: 0.8em;
}