:root {
    --color-arrow-white: #FFF;
    --color-btn-primary: #FFF;
    --color-clients: #565973;
    --color-name: #0B0F19;
    --color-job: #9397AD;
    --color-primary: hsl(239, 84%, 65%);
    --color-primary-hover: hsl(239, 84%, 70%);
    --color-primary-opacity: rgb(99, 102, 241, .3);
    --color-gradient: #6366F1 hsl(293, 84%, 35%) hsl(225, 75%, 97%);
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;

    --color-grey900: #0B0F19;
    --color-grey800: #33354D;
    --color-grey700: #565973;
    --color-grey600: #9397AD;
    --color-grey500: #B4B7C9;
    --color-grey400: #D4D7E5;
    --color-grey300: #E2E5F1;
    --color-grey200: #EFF2FC;
    --color-grey100: #F3F6FF;
    --color-white: #FFF;

    .dark
    {
    --color-grey900: rgba(255, 255, 255, 0.770);
    --color-grey800: #9397AD;
    --color-grey700: #B4B7C9;
    --color-grey600: #9397AD;
    --color-grey500: #B4B7C9;
    --color-grey400: #0B0F19;
    --color-grey300: #565973;
    --color-grey200: #33354D;
    --color-grey100: #0a0c11;
    --color-white: #1c1e2b;
    --color-bg-dark: #000;

    --color-btn-primary: rgba(255, 255, 255, 0.770);
    --color-primary: hsl(239, 48%, 49%);
    --color-primary-hover: hsl(239, 84%, 70%);
    --color-primary-opacity: rgb(99, 102, 241, .3);

    }
}