#work {
    .container {
        @include flex-center;

        flex-direction: column;
        text-align: center;
        padding: 1rem 0 3rem 0;
    }
    .content-tablet, .content-desktop {
        display: none;
    }
    .images {
        @include flex-center;
    }
    #iphone-cards-tab, #iphone-transfer-tab, #iphone-budget-desk, #iphone-cards-desk, #iphone-transfer-desk {
        display: none;
    }

    @include tablet {
        .container {
            padding: 3rem 0 5rem 0;
        }
        #iphone-cards-tab, #iphone-transfer-tab {
            display: block;
        }
        .images {
            width: 100%;
            gap: 2rem;
            position: relative;    
        }
        .content-mobile {
            display: none;
        }
        .content-tablet {
            display: block;
        }
    }

    @include desktop {
        .content-tablet {
            display: none;
        }
        .content-desktop {
            display: block;
            max-width: 630px;
        }
        .images {
            gap: 6rem;
        }
        #iphone-cards-tab, #iphone-transfer-mob, #iphone-transfer-tab {
            display: none;
        }
        #iphone-budget-desk, #iphone-cards-desk, #iphone-transfer-desk {
            display: block;
        }
    }
}
